*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card{
    width: 320px;
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
}
.card:hover{
    transform: translateY(-5px);
}
.card--caracteristicas{
    border: 3px solid orange;
}
.card__image{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}
.card__title{
    font-size: 24px;
    color: black;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.card__button{

    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition:  0.3s ease;
}
.card__button--success{
    background-color: steelblue;
    color: white;
}
.card__button--success:hover{
    background-color: goldenrod;
}

